$primary: #69B9FF !default;
$secondary: #5DA3D7 !default;
$third: #2E80B6 !default;
$green: #8CC8BA !default;
$light-green: #D2E4E0 !default;
$light-blue: #CEECF4 !default;
$gray: #7E7E7E !default;
$light-gray: #B8B4B0 !default;