footer {
  background-color: black;
  padding: 20px 0;
}

.footer-item {
  text-decoration: none;
  color: white;
}

.footer-logo {
  width: 142px;
  height: 142px;
}

@media (max-width: 767px) {
  .footer-logo {
    width: 80px;
    height: 80px;
  }

  ul {
    margin-right: 24px;
  }
}