.navbar {
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item.active {
  color: #007bff;
  font-weight: bold;
}

.header-logo {
  width: 142px;
  height: 142px;
}

.hamburger {
  display: none;

  .hamburger-list {
    display: none;
    text-align: center;
    padding: 40px 0;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    border-top: 1px solid $primary;
    position: relative;
    top: 0px;
    width: 100vw;
    background-color: #fff;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;

    li {
      margin: 0 auto;

    }
  }

  .close-icon {
    display: none;
  }

  .my-d-flex {
    display: flex;
  }

  .my-opacity {
    opacity: 1;
  }

  .my-d-none {
    display: none;
  }

  .my-d-block {
    display: block;
  }
}

@media (max-width: 767px) {
  header {
    .navbar {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .header-logo {
      width: 80px;
      height: 80px;
    }

    .material-icons {
      font-size: 40px;
    }
  }
}